# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [6]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents. Please, load the data using Ironhack's database (db: employees, table: employees_advanced).

In [9]:
# Your code here:

df = pd.read_csv('Employees_advanced.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33183 entries, 0 to 33182
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               33183 non-null  object
 1   Job Titles         33183 non-null  object
 2   Department         33183 non-null  object
 3   Full or Part-Time  33183 non-null  object
 4   Salary or Hourly   33183 non-null  object
 5   Typical Hours      8022 non-null   float64
 6   Annual Salary      25161 non-null  float64
 7   Hourly Rate        8022 non-null   float64
dtypes: float64(3), object(5)
memory usage: 2.0+ MB

Examine the `salaries` dataset using the `head` function below.

In [12]:
#### Your code here:

df.head(10)

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86
5,"ABBASI, CHRISTOPHER",STAFF ASST TO THE ALDERMAN,CITY COUNCIL,F,Salary,NaN,50436.0,NaN
6,"ABBATACOLA, ROBERT J",ELECTRICAL MECHANIC,AVIATION,F,Hourly,40.0,NaN,46.10
7,"ABBATE, JOSEPH L",POOL MOTOR TRUCK DRIVER,STREETS & SAN,F,Hourly,40.0,NaN,35.60
8,"ABBATEMARCO, JAMES J",FIRE ENGINEER-EMT,FIRE,F,Salary,NaN,103350.0,NaN
9,"ABBATE, TERRY M",POLICE OFFICER,POLICE,F,Salary,NaN,93354.0,NaN

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [11]:
# Your code here:

print(pd.isnull(df).sum())

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [19]:
# Your code here:

df['Salary or Hourly'].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [31]:
df['Department'].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [42]:
from scipy.stats import ttest_1samp
# Select only the rows where 'Salary or Hourly' is 'Hourly'
hourly_workers = df[df['Salary or Hourly'] == 'Hourly']

# Extract the Hourly Rate column
hourly_rates = hourly_workers['Hourly Rate']

In [43]:
# Perform a two-tailed T-test to compare the mean of the sample to a population mean of 12
t_statistic, p_value = ttest_1samp(hourly_rates, 30)

# The null hypothesis is that the mean of the sample is equal to the population mean.
# If the p-value is less than the significance level (e.g., 0.05), then we reject the null hypothesis.
# If the p-value is greater than or equal to the significance level, then we fail to reject the null hypothesis.

if p_value < 0.05:
    print("Reject the null hypothesis. The mean of the sample is not equal to the population mean.")
else:
    print("Fail to reject the null hypothesis. The mean of the sample is equal to the population mean.")

Reject the null hypothesis. The mean of the sample is not equal to the population mean.

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [54]:
# Select only the rows where 'Salary or Hourly' is 'Salary' and 'Department' is 'POLICE'
police_force = df[(df['Salary or Hourly'] == 'Salary') & (df['Department'] == 'POLICE')]

# Extract the Annual Salary column
annual_salaries = police_force['Annual Salary']

# Perform the one sample t-test
t_test_result = stats.ttest_1samp(annual_salaries, 86000)

# Extract the t-statistic and p-value
t_statistic = t_test_result.statistic
p_value = t_test_result.pvalue

# Divide the p-value by 2 for a one-tailed test
p_value = p_value / 2

# Check if the p-value is less than 0.05 and the t-statistic is positive, which indicates that the mean annual salary is significantly greater than $86000
if p_value < 0.05 and t_statistic > 0:
    print("The null hypothesis is rejected. The mean annual salary of the police force is significantly greater than $86000.")
else:
    print("The null hypothesis is accepted. The mean annual salary of the police force is not significantly greater than $86000.")

The null hypothesis is rejected. The mean annual salary of the police force is significantly greater than $86000.

Using the `crosstab` function, find the department that has the most hourly workers.

In [67]:
#Kaci's code
pd.crosstab(df.Department, columns="count_of_workers", values=df["Hourly Rate"], aggfunc='count').sort_values(by="count_of_workers", ascending=False).head(1)

col_0          count_of_workers
Department
STREETS & SAN              1862

In [ ]:
# My code:

df.rename(columns={'Salary or Hourly': 'Salary_or_Hourly'},
          inplace=True, errors='raise')

In [66]:
ct = pd.crosstab(df.Department, df.Salary_or_Hourly)

hourly_workers = ct['Hourly']

most_hourly_workers = hourly_workers.idxmax()

most_hourly_workers

'STREETS & SAN'

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [73]:
#selecting the good data

sts_workers = df[(df['Salary_or_Hourly'] == 'Hourly') & (df['Department'] == 'STREETS & SAN')]

# Extract the hourly wage column
sts_wage = sts_workers['Hourly Rate']

In [76]:
# Perform the one sample t-test
t_test_result = stats.ttest_1samp(sts_wage, 35)

# Extract the t-statistic and p-value
t_statistic = t_test_result.statistic
p_value = t_test_result.pvalue

# Divide the p-value by 2 for a one-tailed test
p_value = p_value / 2

# Check if the p-value is less than 0.05 and the t-statistic is positive, which indicates that their hourly wage is less than $35/hour.
if p_value < 0.05 and t_statistic > 0:
    print("Reject the null hypothesis, there is evidence to suggest that the hourly wage is less than $35/hour.")
else:
    print("Fail to reject the null hypothesis, there is no evidence to suggest that the hourly wage is less than $35/hour.")

Fail to reject the null hypothesis, there is no evidence to suggest that the hourly wage is less than $35/hour.

# Challenge 3: To practice - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [77]:
# Your code here:
import scipy.stats as stats

# Select only the hourly workers from the data
hourly_workers = df[df['Salary_or_Hourly'] == 'Hourly']

# Extract the hourly wage column
hourly_wage = hourly_workers['Hourly Rate']

# Compute the mean of the sample
mean = np.mean(hourly_wage)

# Compute the standard error
standard_error = stats.sem(hourly_wage)

# Compute the degrees of freedom
dof = len(hourly_wage) - 1

# Compute the confidence interval
confidence_interval = stats.t.interval(alpha=0.95, df=dof, loc=mean, scale=standard_error)

# Print the confidence interval
print(confidence_interval)

(32.52345834488529, 33.05365708767727)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [78]:
# Your code here:
# Select the data for salaried employees in the police department
police_salaried = df[(df['Salary_or_Hourly'] == 'Salary') & (df['Department'] == 'POLICE')]

# Extract the annual salary column
police_salary = police_salaried['Annual Salary']

# Compute the mean and standard deviation of the sample
mean = police_salary.mean()
std = police_salary.std()

# Compute the standard error
standard_error = std / np.sqrt(len(police_salary))

# Compute the degrees of freedom
degrees_of_freedom = len(police_salary) - 1

# Compute the 95% confidence interval
confidence_interval = stats.t.interval(alpha=0.95, 
                                       df=degrees_of_freedom, 
                                       loc=mean, 
                                       scale=standard_error)

# Print the confidence interval
print("The 95% confidence interval for the mean annual salary of salaried employees in the police department is: ", confidence_interval)

The 95% confidence interval for the mean annual salary of salaried employees in the police department is:  (86177.05631531785, 86795.77269094893)

# Bonus Challenge - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [13]:
# Your code here: